Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

flake8:
  name: flake8
  entry: flake8
  language: system

safety:
  name: safety
  entry: poetry run safety
  args:
  - check
  - --full-report
  - --file
  language: system

chore(release): release 3.3.13 → 3.3.14 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

ci(test): Run tests on windows
  .github/workflows/ci.yml
Due: none

test(build): Add test for long path builds
  tests/test_commands.py
Due: none

ci(Windows): Setup on Windows runners
  .github/actions/init/action.yaml
  .github/workflows/ci.yml
Due: none

fix(Windows): Add long path prefix to I/O interaction
  doxysphinx/utils/files.py
Due: flake8

Small fix
  doxysphinx/utils/files.py
Due: flake8

Fix code style, handle long path in test case
  doxysphinx/utils/files.py
  tests/test_commands.py
Due: flake8

Try different approach to handle long file names
  doxysphinx/utils/files.py
  tests/test_commands.py
Due: flake8

Different approach
  tests/test_commands.py
Due: none

[TOC] Generate TOCs from Doxygen modules.html and fix leaf detection
  doxysphinx/toc.py
Due: flake8

Add support for python 3.13 and 3.14
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: safety

Bump pyjson5
  poetry.lock
  pyproject.toml
Due: safety

Bump pillow and rpds-py for Python 3.14 wheels
  poetry.lock
  pyproject.toml
Due: safety

Enhance test coverage reporting in CI workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  flake8: any of: \.py$, but not: (^.*tests/.*$)
  safety: any of: pyproject.toml, but not: (^.*tests/.*$)
