Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

.pre-commit-config.yaml:

##
## =====================================================================================
##  C O P Y R I G H T
## -------------------------------------------------------------------------------------
##  Copyright (c) 2022 by Robert Bosch GmbH. All rights reserved.
##
##  Author(s):
##  - Markus Braun, :em engineering methods AG (contracted by Robert Bosch GmbH)
## =====================================================================================
##

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#files:
#  "(.yaml$)|(^conf.*py$)|doxysphinx/.*py$||pyproject.toml$"

exclude:
  "(^.*tests/.*$)"

default_stages: [commit, manual, push]

repos:

# formatting related

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-case-conflict
  - id: check-added-large-files
    args: ["--maxkb=4096"]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
    types: [python]

- repo: https://github.com/pycqa/isort
  rev: 5.11.2
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]

- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    args: [ "--show-error-codes" ]
    additional_dependencies: [
      "lxml_stubs",
      "types-PyYAML"
    ]
    types: [python]

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
  - id: bandit
    types: [python]

- repo: local
  hooks:
  - id: safety
    name: safety
    entry: poetry run safety
    args: [check, --full-report, --file]
    language: system
    files: "pyproject.toml"

# - repo: https://github.com/AleksaC/hadolint-py
#   rev: v2.10.0
#   hooks:
#     - id: hadolint
#       args: [ --ignore, SC2035 ]

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.38.0
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/python-poetry/poetry
  rev: 1.3.0
  hooks:
    - id: poetry-check
    - id: poetry-lock

fix: upgrade sphinx and sphinx-needs
  poetry.lock
  pyproject.toml
Due: safety

chore: add matplotlib which was removed by sphinx-needs 2.0.0
  poetry.lock
  pyproject.toml
Due: safety

chore: upgrade actions to remove Node.js 16 dependency
  .github/actions/init/action.yaml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/qa.yml
Due: none

chore: upgrade actions/setup-python to v5
  .github/actions/init/action.yaml
Due: none

fix(process.py): Fix to support Doxygen 1.10 and 1.11
  .devcontainer/Dockerfile
  doxysphinx/process.py
Due: flake8

fix(process.py): Fix to support Doxygen 1.10 and 1.11 (#141)
  .devcontainer/Dockerfile
  doxysphinx/process.py
Due: flake8

chore(release): release 3.3.8 → 3.3.9 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(toc.py): Use UTF-8 encoding for reading files
  doxysphinx/toc.py
Due: flake8

fix(toc.py): Use UTF-8 encoding for reading files (#148)
  doxysphinx/toc.py
Due: flake8

chore(release): release 3.3.9 → 3.3.10 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix: updated depedencies to latest versions
  poetry.lock
Due: none

chore: update depedencies to latest versions (#150)
  poetry.lock
Due: none

chore(release): release 3.3.10 → 3.3.11 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

Update cd.yml
  .github/workflows/cd.yml
Due: none

fix(cd.yml): Updated the upload-artifact@v4 (https://github.blog/changelog/2024-02-13-deprecation-notice-v1-and-v2-of-the-artifact-actions/)
  .github/workflows/cd.yml
Due: none

chore(release): release 3.3.11 → 3.3.12 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix: Introduce option to limit workers in parallel builds
  doxysphinx/cli.py
  doxysphinx/process.py
  tests/test_commands.py
Due: flake8

chore: Make code backwards compatible
  doxysphinx/cli.py
  doxysphinx/process.py
Due: flake8

ci: Run tests for each supported Python version
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

chore(ci): Fix syntax errors
  .github/workflows/ci.yml
Due: none

chore: Cleanup
  .github/workflows/ci.yml
  .github/workflows/test.yml
  doxysphinx/process.py
Due: flake8

chore: Address findings
  tests/test_commands.py
Due: none

chore: Make workerpool arg explicit
  doxysphinx/process.py
Due: flake8

chore(release): release 3.3.12 → 3.3.13 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

Update pyproject.toml
  pyproject.toml
Due: safety

fix(python-version): Remove numpy dependency, move matplotlib to sphinx group
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: safety

chore: Undo 3.3.13 release, fix pex build
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(python-version): Bump pre-commit
  pyproject.toml
Due: safety

chore(pre-commit): Adjust poetry version
  .pre-commit-config.yaml
Due: none

chore(poetry): Regenerate lock file
  poetry.lock
Due: none
