Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

.pre-commit-config.yaml:

##
## =====================================================================================
##  C O P Y R I G H T
## -------------------------------------------------------------------------------------
##  Copyright (c) 2022 by Robert Bosch GmbH. All rights reserved.
##
##  Author(s):
##  - Markus Braun, :em engineering methods AG (contracted by Robert Bosch GmbH)
## =====================================================================================
##

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#files:
#  "(.yaml$)|(^conf.*py$)|doxysphinx/.*py$||pyproject.toml$"

exclude:
  "(^.*tests/.*$)"

default_stages: [commit, manual, push]

repos:

# formatting related

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-case-conflict
  - id: check-added-large-files
    args: ["--maxkb=4096"]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
    types: [python]

- repo: https://github.com/pycqa/isort
  rev: 5.11.2
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]

- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    args: [ "--show-error-codes" ]
    additional_dependencies: [
      "lxml_stubs",
      "types-PyYAML"
    ]
    types: [python]

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
  - id: bandit
    types: [python]

- repo: local
  hooks:
  - id: safety
    name: safety
    entry: poetry run safety
    args: [check, --full-report, --file]
    language: system
    files: "pyproject.toml"

# - repo: https://github.com/AleksaC/hadolint-py
#   rev: v2.10.0
#   hooks:
#     - id: hadolint
#       args: [ --ignore, SC2035 ]

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.38.0
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/python-poetry/poetry
  rev: 1.3.0
  hooks:
    - id: poetry-check
    - id: poetry-lock

fix(rst_indent_warning): Fixed rst indent warning
  doxysphinx/writer.py
Due: flake8

chore(release): release 3.2.0 → 3.2.1 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(navbar): Fixed focus lost in navbar for doxygen files
  conf.py
  docs/_static/js/customize_navbar.js
Due: flake8

chore(code): updated to session storage from localstorage * renamed file * updated conf.py to load corresponding navbar js * Added comments
  conf.py
  docs/_static/js/customize-navbar.js
  docs/_static/js/customize_navbar.js
Due: flake8

chore(navbar): Added custom js for rtd theme to keep focus in navbar if doxygen files are opened * Updated rtd theme options
  conf.py
  conf_utils.py
  docs/_static/js/customize-navbar-book.js
  docs/_static/js/customize-navbar-rtd.js
Due: flake8

chore(code): Updated comments
  docs/_static/js/customize-navbar-book.js
  docs/_static/js/customize-navbar-rtd.js
Due: none

fix(doxygen): Don't launch doxygen from a shell
  NOTICE.md
  doxysphinx/doxygen.py
Due: flake8

fix(doxygen_cwd): Interpret paths relative to working dir
  NOTICE.md
  doxysphinx/cli.py
  doxysphinx/doxygen.py
Due: flake8

chore(theme-extension): Added doxysphinx-themes extension
  conf.py
  conf_utils.py
  sphinx_extensions/doxysphinx_theme/__init__.py
  sphinx_extensions/doxysphinx_theme/_static/js/customize-navbar-book.js
  sphinx_extensions/doxysphinx_theme/_static/js/customize-navbar-rtd.js
  sphinx_extensions/doxysphinx_theme/_static/sphinx-book-theme-custom.css
  sphinx_extensions/doxysphinx_theme/_static/sphinx-rtd-theme-custom.css
Due: flake8

chore(code): Reverted the CSS related file changes
  conf.py
  docs/_static/sphinx-book-theme-custom.css
  docs/_static/sphinx-rtd-theme-custom.css
  sphinx_extensions/doxysphinx_theme/__init__.py
Due: flake8

chore(docs): Updated documentation
  docs/getting_started.md
Due: none

chore(release): release 3.2.1 → 3.2.2 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

test(doxygen_cwd): Also pass doxygen working dir in tests
  tests/doxygen/test_doxysettings_validator.py
Due: none

chore(release): release 3.2.2 → 3.2.3 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(code): Moved the static css files to extension
  conf.py
  sphinx_extensions/doxysphinx_theme/__init__.py
  sphinx_extensions/doxysphinx_theme/_static/css/sphinx-book-theme-custom.css
  sphinx_extensions/doxysphinx_theme/_static/css/sphinx-rtd-theme-custom.css
Due: flake8

chore(devcontainer): several improvements to devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  poetry.lock
  tests/sphinx/test_directory_mapper.py
Due: none

chore(devcontainer): Some more changes to get repo up and running again.
  .devcontainer/devcontainer.json
  docs/syntax/rst_inline_syntax.md
  doxysphinx/doxygen.py
  doxysphinx/process.py
  doxysphinx/resources.py
  pyproject.toml
  sphinx_extensions/replacer/__init__.py
Due: flake8, safety

chore(process): remove mpire empty iterator message.
  doxysphinx/process.py
Due: flake8

docs: fixed some documentation issues
  docs/linking_to_doxygen.md
  doxysphinx/resources.py
Due: flake8

fix(styling): fixes doxygen page headings
  doxysphinx/resources/custom.scss
Due: none

docs: fixed wrong faq link target in getting_started.md
  conf.py
  docs/dev_guide.md
  docs/faq.md
  docs/getting_started.md
  poetry.lock
Due: flake8

refactor: fix for flake8 error C418 in toc.py
  doxysphinx/toc.py
Due: flake8

test(toc): add testcase for invalid character in structural page title
  tests/toc/menudata.js
  tests/toc/test_toctree_generator.py
Due: none

fix(toc): Fix illegal characters in structural dummy titles
  doxysphinx/toc.py
  tests/toc/test_toctree_generator.py
Due: flake8

chore(deps): added missing dependency for ci.
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
Due: safety

chore(vscode): fixed typo in isort settings
  .vscode/settings.json
Due: none

chore(ci): another attempt to fix ci
  poetry.lock
  pyproject.toml
Due: safety

chore(release): release 3.2.3 → 3.3.0 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(code): Added extension to the package
  pyproject.toml
  sphinx_extensions/doxysphinx_theme/__init__.py
Due: flake8, safety

chore(code): Re-arranged in repo extension for better packaging
  conf.py
  docs/apidoc.md
  doxysphinx/ext/replacer/__init__.py
  doxysphinx/ext/sphinx_theme/__init__.py
  doxysphinx/ext/sphinx_theme/_static/css/sphinx-book-theme-custom.css
  doxysphinx/ext/sphinx_theme/_static/css/sphinx-rtd-theme-custom.css
  doxysphinx/ext/sphinx_theme/_static/js/customize-navbar-book.js
  doxysphinx/ext/sphinx_theme/_static/js/customize-navbar-rtd.js
  pyproject.toml
Due: flake8, safety

fix: check if doxygen.css exists before pre-processing
  doxysphinx/resources.py
Due: flake8

fix: Encoding issues on windows
  doxysphinx/resources.py
Due: flake8

chore(release): release 3.3.0 → 3.3.1 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety
