Repository boschglobal/doxysphinx: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, safety

.pre-commit-config.yaml:

##
## =====================================================================================
##  C O P Y R I G H T
## -------------------------------------------------------------------------------------
##  Copyright (c) 2022 by Robert Bosch GmbH. All rights reserved.
##
##  Author(s):
##  - Markus Braun, :em engineering methods AG (contracted by Robert Bosch GmbH)
## =====================================================================================
##

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#files:
#  "(.yaml$)|(^conf.*py$)|doxysphinx/.*py$||pyproject.toml$"

exclude:
  "(^.*tests/.*$)"

default_stages: [commit, manual, push]

repos:

# formatting related

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-case-conflict
  - id: check-added-large-files
    args: ["--maxkb=4096"]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
    types: [python]

- repo: https://github.com/pycqa/isort
  rev: 5.11.2
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]

- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    args: [ "--show-error-codes" ]
    additional_dependencies: [
      "lxml_stubs",
      "types-PyYAML"
    ]
    types: [python]

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
  - id: bandit
    types: [python]

- repo: local
  hooks:
  - id: safety
    name: safety
    entry: poetry run safety
    args: [check, --full-report, --file]
    language: system
    files: "pyproject.toml"

# - repo: https://github.com/AleksaC/hadolint-py
#   rev: v2.10.0
#   hooks:
#     - id: hadolint
#       args: [ --ignore, SC2035 ]

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.38.0
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/python-poetry/poetry
  rev: 1.3.0
  hooks:
    - id: poetry-check
    - id: poetry-lock

fix: Encoding issues on windows
  doxysphinx/resources.py
  poetry.lock
Due: flake8

chore(release): release 3.3.1 → 3.3.2 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

chore(release): release 3.3.2 → 3.3.3 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(resources): writing compiled css as utf-8 now
  doxysphinx/resources.py
  poetry.lock
Due: flake8

chore(cleanup): removed LICENSE
  LICENSE
Due: none

chore(release): release 3.3.3 → 3.3.4 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

Ensure HTML is read as UTF-8
  NOTICE.md
  doxysphinx/html_parser.py
Due: flake8

chore(dependencies): updated dependencies
  .pre-commit-config.yaml
  poetry.lock
Due: none

chore(release): release 3.3.4 → 3.3.5 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(docs): fixed sphinx autoapi issue in docs build
  conf.py
  docs/_static/sphinx-book-theme-custom.css
  poetry.lock
  pyproject.toml
Due: flake8, safety

chore(release): release 3.3.5 → 3.3.6 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(doxygen.py): Don't fail on forward slashes on Windows
  doxysphinx/doxygen.py
Due: flake8

test(windows): Fix tests under Windows
  tests/doxygen/test_doxyfile_reader.py
  tests/doxygen/test_doxysettings_validator.py
Due: none

fix(doxygen.py): Fix parsing of Windows newlines when on Posix
  doxysphinx/doxygen.py
Due: flake8

chore(release): release 3.3.6 → 3.3.7 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix(python-version): Updated python to 3.12 and dependencies
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: safety

fix(python-version): Added numpy to pyproject
  poetry.lock
  pyproject.toml
Due: safety

chore(release): release 3.3.7 → 3.3.8 by commitizen [skip-ci]
  CHANGELOG.md
  pyproject.toml
Due: safety

fix: fix broken release of v3.3.8
  CHANGELOG.md
  pyproject.toml
Due: safety

fix: fix broken release of v3.3.8 (#126)
  CHANGELOG.md
  pyproject.toml
Due: safety

chore: another try to fix v3.3.8 release
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore: fix line endings
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: fix broken release of v3.3.8 (try #2) (#127)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
Due: safety

fix: fix broken release of v3.3.8 (try #3) (#128)
  CHANGELOG.md
  pyproject.toml
Due: safety

chrore: fix publish to pypi
  .github/workflows/cd.yml
  CHANGELOG.md
  pyproject.toml
Due: safety

chrore: fix publish to pypi (#129)
  .github/workflows/cd.yml
  CHANGELOG.md
  pyproject.toml
Due: safety

Fix doxygen-awesome dark mode
  doxysphinx/resources.py
  doxysphinx/resources/custom.scss
Due: flake8

chore: adjust types-pyyaml dependency
  pyproject.toml
Due: safety

fix: upgrade sphinx, sphinx-needs and additional components
  poetry.lock
  pyproject.toml
Due: safety
